{% extends 'index.html' %}
{% block nav_service %}
<li class="nav-item">
    <a class="nav-link active " href="/log_out" style="font-family: 'Libre Baskerville', serif;">logout</a>
  </li>
{% endblock nav_service %}
{% block nav_item  %}
 <li class="nav-item">
     <a class="nav-link active" id="submit" href="user_profile" style="font-family: 'Libre Baskerville', serif;">profile</a>
</li>
<li class="nav-item">
  <a class="nav-link active" id="submit" href="user_bookings" style="font-family: 'Libre Baskerville', serif;">bookings</a>
</li>
{% endblock nav_item %}